<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="respApps" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>My AngularJS App</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="http://fonts.googleapis.com/css?family=Roboto:300&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/main.css">
  <link rel="stylesheet" href="css/normalize.css"/>
  <link rel="stylesheet" href="css/app.css"/>
  <script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>
</head>
<body>
  <header>
    <div class="logo-block" ng-controller="NavigationCtrl">
        <div class="close-that-popup" style="display:none;"></div>
        <a href="javascript:;" class="tap-menu" ng-click="hiddenMenu='active'"></a>
        <div class="main_menu transition-links" ng-class="hiddenMenu">
          <div class="menu_logo">
            <a href="http://www.airomo.net/" title="" target="_blank" ng-click="hiddenMenu=''">
              <img src="img/menu_logo.png" alt="">
            </a>
          </div>
          <ul>
            <li><a href="http://static.airomo.net/widgets/search-uc/sresults.html" ng-click="hiddenMenu=''; tapMenu=''" title="">Search</a></li>
            <li><a href="#explore?order=newest" ng-click="hiddenMenu=''; tapMenu=''" title="">Explore</a></li>
            <li><a href="#tags" ng-click="hiddenMenu=''; tapMenu=''" title="">Tags</a></li>
            <li><a href="#categories" ng-click="hiddenMenu=''; tapMenu=''" title="">Categories</a></li>
            <li>
              <a href="javascript:;" ng-click="tapMenu='active'" title="">Settings</a>
                <div class="tap-menu-block" ng-class="tapMenu">
                  <div class="tap-inner-block stores-block" ng-if="isAndroid">
                    <h3>Supported App Stores</h3>
                    <div class="tap-inner-btns clr" id="stores-template">
                      <label ng-if="isDesctop" ng-click="checkStore(1)" for="check-itunes">iTunes</label>
                      <label for="check-google" ng-click="checkStore(2)">Google Play</label>
                      <label for="check-amazon" ng-click="checkStore(3)">Amazon</label>
                      <label for="check-wandoujia" ng-click="checkStore(4)">Wandoujia</label>
                      <label for="check-nook" ng-click="checkStore(5)">Nook</label>
                    </div>
                  </div>

                 <!--  <div class="tap-inner-block dev-template-block" ng-if="isIos">
                    <h3>Supported Devices</h3>
                    <div class="tap-inner-btns clr" id="devices-template">
                      <label ng-click="checkDevice(1)" for="check-phones">Phones</label>
                      <label ng-click="checkDevice(2)" for="check-tablets">Tablets</label>
                    </div>
                  </div> -->

                  <div class="tap-inner-block dispTemplate-block">
                    <h3>Display Style</h3>
                    <div class="tap-inner-btns clr" id="displayTemplate">
                      <label ng-click="hiddenScreen='true'" for="check-simple">Simple</label>
                      <label ng-click="hiddenScreen='false'" for="check-colorful">Colorful</label>
                    </div>
                  </div>
                </div><!-- /.tap-menu-block -->
            </li>
            <li><a href="http://www.airomo.com/" ng-click="hiddenMenu=''; tapMenu=''" title="">About</a></li>
          </ul>
        </div>
        
        <a href="http://www.airomo.com/" target="_blank" class="logo-link">
          <div class="logo"></div>
        </a>
    </div>
  </header>
    
  <div ng-view></div>

  <div class="go-top-cont" style="display:none;">
    <img class="search-button-loader" style="display:none;" src="img/loader.gif">
  </div>

  <a href="javascript:;" style="display:none;" class="go-top">&#9650;</a>

  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script type="text/javascript" src="js/api_airomo_new.js"></script>
  <script type="text/javascript" src="js/jquery.grid-a-licious.min.js"></script>
  <!--<script type="text/javascript" src="js/jquery.history.js"></script>-->
  <script src="bower_components/angular/angular.js"></script>
  <script type='text/javascript' src='js/ng-infinite-scroll.min.js'></script>
  <script src="bower_components/angular-route/angular-route.js"></script>

  <script src="js/services/services.js"></script>

  <script src="js/controllers/controllers.js"></script>
  
  <script src="js/filters/filters.js"></script>
  <script src="js/directives/directives.js"></script>
  <script src="js/app.js"></script>
</body>
</html>
